@import url("https://fonts.googleapis.com/css2?family=Creepster&display=swap");

:root {
  --font-1: "Creepster", cursive;
  --color-1: #ffa900;
}

body {
  margin-left: 2vw;
}

header h1 {
  font-family: var(--font-1);
  font-size: 5vw;
  letter-spacing: 0.5vw;
  text-align: center;
}

h2 {
  text-align: center;
  color: white;
  padding: 10px;
}

#container {
  display: flex;
  flex-direction: row;
  gap: 1vw;
}

#colors {
  justify-content: center;
  width: auto;
  background-color: var(--color-1);
  box-shadow: 3px 3px 1px #ff7600;
  border-radius: 12px;
  height: auto;
}

.colorbtn:hover {
  cursor: pointer;
}

#pumpkin-container {
  position: relative;
  width: 80%;
}

#pumpkin {
  z-index: 2;
}

.sidenavigation {
  width: 50%;
  background-color: var(--color-1);
  box-shadow: 3px 3px 1px #ff7600;
  border-radius: 12px;
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#categories div {
  font-size: 2vw;
  color: white;
  margin-top: 1rem;
  cursor: pointer;
  /* margin-right: 1rem; */
  padding: 0.5rem 1rem;
  border-radius: 12px 0 0 12px;
}

#categories div:hover {
  background-color: hsla(28, 100%, 50%, 0.388);
}

#options {
  width: auto;
  background-color: white;
  display: flex;
  justify-content: center;
  padding: 0 1rem;
  border-radius: 12px;
}

.option {
  display: flex;
  justify-content: center;
}

.option img {
  width: min(12vw, 8rem);
  margin-top: 1rem;
  cursor: pointer;
}

.option img:hover {
  transform: scale(1.1);
}

.hidden {
  display: none;
}

.svg {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 40vw;
  pointer-events: none;
  z-index: 3;
}

.background {
  position: absolute;
  background-size: 100%;
  background-position: top left;
  background-repeat: no-repeat;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  pointer-events: none;
  z-index: -1;
}

#candle {
  background-color: black;
  width: 100%;
  height: fit-content;
  padding-bottom: 2rem;
  border-radius: 12px;
}

#candle img,
#background img {
  width: min(12vw, 8rem);
  margin: 1rem auto 0 auto;
  cursor: pointer;
  border-radius: 12px;
  display: block;
}

#candle figcaption,
#background figcaption {
  text-align: center;
  margin-top: 0.5rem;
  color: grey;
}

figure {
  margin: 2rem 1rem 1rem 1rem;
}

.selected {
  background-color: #ff7600;
}
